<h1>This is the Game Board html.</h1>

<h3>gameBoarId: {{gameBoardId}}</h3>
<h3>mySymbol: {{mySymbol}}</h3>

<table style="border: solid 1px #333">
  <tr>
    <td ng-click="handleClick(0)">{{gameBoard[0]}}</td>
    <td ng-click="handleClick(1)">{{gameBoard[1]}}</td>
    <td ng-click="handleClick(2)">{{gameBoard[2]}}</td>        
  </tr>
  
  <tr>
    <td ng-click="handleClick(3)">{{gameBoard[3]}}</td>
    <td ng-click="handleClick(4)">{{gameBoard[4]}}</td>
    <td ng-click="handleClick(5)">{{gameBoard[5]}}</td>        
  </tr>
  
  <tr>
    <td ng-click="handleClick(6)">{{gameBoard[6]}}</td>
    <td ng-click="handleClick(7)">{{gameBoard[7]}}</td>
    <td ng-click="handleClick(8)">{{gameBoard[8]}}</td>        
  </tr>
</table>




